// Jade
doctype
html(lang="sv")
    head
        title sidans titel
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="beskriver sidan")
        link(href="css/styls.css" rel="stylesheet" type="text/css")
    body
        nav
            .wrapper
                a.header-logo-link(href="#")
                    img.header-logo-img(alt="logga", src="logga.png")
                span.brand-text
                    | header text here
        main.wrapper
            | content text here