extends docwrapper

append config
    - var PageTitle = "jQuery"
    - var jQuery = false
    
append stylesheet
    link(href="style.css" rel="stylesheet" type="text/css")

block headertext
    | #{HeaderText}

block content
    h1 #{PageTitle}

    // skriv content här
    
    
    
    // kollar om vi har jQuery
    h3 har vi jQuery?

    code#gotjquery nope , ingen jQuery :(

    script.
        if (window.jQuery) {
            $('#gotjquery').html("Ja vi har jQuery");
        }
